<!DOCTYPE HTML>
<html>

<head>
	<title>ScrockBot v.02</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../public/assetsClient/css/main.css" />
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="index.html" class="logo"><strong style="font-size:larger;">ScrockBot </strong><span
							style="font-size: small;"> SniperBot Solana</span> </a>
					<div class="stats">
						<span id="totToken">AllToken:0</span>|
						<span id="totWin">Win:0</span>|
						<span id="totLose">Loss:0</span>|
						<span id="totPercent">Total:0%</span>
					</div>
					<ul class="icons">
						<svg style='height:2em' xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 640 640"><!--!Font Awesome Free v7.0.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
							<path
								d="M128 96C92.7 96 64 124.7 64 160L64 448C64 483.3 92.7 512 128 512L512 512C547.3 512 576 483.3 576 448L576 256C576 220.7 547.3 192 512 192L136 192C122.7 192 112 181.3 112 168C112 154.7 122.7 144 136 144L520 144C533.3 144 544 133.3 544 120C544 106.7 533.3 96 520 96L128 96zM480 320C497.7 320 512 334.3 512 352C512 369.7 497.7 384 480 384C462.3 384 448 369.7 448 352C448 334.3 462.3 320 480 320z" />
						</svg>
						<span id="walletSol">0.1</span>
					</ul>
				</header>

				<!-- Banner
								<section id="banner">
									<div class="content">
										<header>
											<h1>Hi, I’m Editorial<br />
											by HTML5 UP</h1>
											<p>A free and fully responsive site template</p>
										</header>
										<p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.</p>
										<ul class="actions">
											<li><a href="#" class="button big">Learn More</a></li>
										</ul>
									</div>
									<span class="image object">
										<img src="images/pic10.jpg" alt="" />
									</span>
								</section> -->

				<!-- Section -->
				<section>
					<div class="table-wrapper">
						<h4>TokenLogger</h4>
						<table>
							<thead>
								<tr>
									<th>Token</th>
									<th>Price</th>
									<th>BuyPrice</th>
									<th>StartPrice</th>
									<th>HighPrice</th>


									<th>Trx Num</th>
									<th>TrxList</th>

									<th>MarketCap SOL</th>
									<th>VolumeNet</th>

									<th>Volume</th>
									<th>Data</th>

									<th>Pool</th>
									<th>info</th>
									<th>Gain</th>
									<th>Strategy</th>
									<th>Stats</th>
								</tr>
							</thead>
							<tbody id="tokenMonitorBody">

							</tbody>
							<tfoot>
								<tr>
									<td colspan="2"></td>
									<td>100.00</td>
								</tr>
							</tfoot>
						</table>
					</div>

					<br>
					<div class="table-wrapper">
						<h4>TokenMonitor</h4>
						<table class="alt">
							<thead>
								<tr>
									<th>Name</th>
									<th>Price</th>
									<th>Trx Numb</th>
									<th>MarketCap Sol</th>
									<th>VolumeNet</th>
									<th>Volume</th>
									<th>Time</th>
									<th>Pool</th>
									<th>Stats</th>

								</tr>
							</thead>
							<tbody id="tokenLoggerBody">
								<!--
								<tr>
									<td>BonkFun</td>
									<td>SOL: 0.000023</td>
									<td>10%</td>
									<td>$9233</td>
									<td>42 </td>
									<td>10:00am</td>
									
								</tr>
								-->
							</tbody>
							<tfoot>
								<tr>
									<td colspan="2"></td>
									<td>100.00</td>
								</tr>
							</tfoot>
						</table>
					</div>


				</section>
				<section>
					<header class="major">
						<h2>Event</h2>
					</header>

					<textarea id="loggerEvent" name="demo-message" id="demo-message" placeholder="Event" rows="5">

 				</textarea>
				</section>

				<section>
					<header class="major">
						<h2>Logger</h2>
					</header>

					<textarea id="loggerHtml" name="demo-message" id="demo-message" placeholder="Enter your message"
						rows="5">

 				</textarea>
				</section>

				<div id="modal" class="modal">
					<div class="modal-content">
						<span id="close">&times;</span>
						<h2>Transazioni Token</h2>
						<ul id="txList"></ul>
					</div>
				</div>

				<!-- Section 
				<section>
					<header class="major">
						<h2>Ipsum sed dolor</h2>
					</header>
					<div class="posts">
						<article>
							<a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
							<h3>Interdum aenean</h3>
							<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam
								facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>
						<article>
							<a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
							<h3>Nulla amet dolore</h3>
							<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam
								facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>

					</div>
				</section>-->

			</div>
		</div>

		<!-- Sidebar -->
		<div id="sidebar">
			<div class="inner">

				<!-- Search -->
				<section id="search" class="alt">
					<form method="post" action="#">
						<input type="text" name="query" id="query" placeholder="Search" />
					</form>
				</section>

				<!-- Menu -->
				<nav id="menu">
					<!--
					<header class="major">
						<h2>Menu</h2>
					</header>
					<ul>
						<li><a href="index.html">Homepage</a></li>

						<li>
							<span class="opener">Submenu</span>
							<ul>
								<li><a href="#">Lorem Dolor</a></li>
								<li><a href="#">Ipsum Adipiscing</a></li>
								<li><a href="#">Tempus Magna</a></li>
								<li><a href="#">Feugiat Veroeros</a></li>
							</ul>
						</li>

					</ul>
					-->
				</nav>

				<!-- Section -->
				<section>
					<header class="major">
						<h2>Config</h2>
					</header>

					<form method="post" onsubmit="return saveOptions(event)">
						<div class="row gtr-uniform">

							<div class="col-12">
								<h3>Filtri Token</h3>
							</div>

							<div class="col-12">
								<input type="number" step="0.10" value="" id="liquidityMin" placeholder="MinLiquidity">
								<label>Min Liquidity (SOL)</label>
							</div>
							<div class="col-12">
								<input type="number" step="0.10" id="liquidityMax">
								<label for="liquidityMax">Max Liquidity (SOL)</label>
							</div>
							<div class="col-12">
								<input type="number" step="0.10" id="devShare">
								<label for="devShare">Dev Share max buy (%)</label>
							</div>
							<div class="col-12">
								<input type="number" step="0.10" id="marketcapMin">
								<label for="marketcapMin">Min Market Cap (SOL)</label>
							</div>
							<div class="col-12">
								<input type="number" step="0.5" id="marketcapMax">
								<label for="marketcapMax">Max Market Cap (SOL)</label>
							</div>

							<div class="col-12">

								<input type="checkbox" id="enablerugpullxyz">
								<label for="enablerugpullxyz">RugPull.xyz check</label>

							</div>
							<div class="col-12">
								<h3>Sell</h3>
							</div>
							<div class="col-12">
								<input type="number" step="0.01" id="quickSellMultiplier">
								<label for="quickSellMultiplier">Quick Sell × Multiplier</label>
							</div>
							<div class="col-12">
								<input type="number" step="1" id="quickSellMinTrades">
								<label for="quickSellMinTrades">Quick Sell min trades</label>
							</div>
							<div class="col-12">
								<input type="number" step="1" id="rugpullMaxTrades">
								<label for="rugpullMaxTrades">Rugpull max trades</label>
							</div>
							<div class="col-12">
								<input type="number" step="0.01" id="rugpullMinGainMultiplier">
								<label for="rugpullMinGainMultiplier">Rugpull min gain × Multiplier</label>
							</div>
							<div class="col-12">
								<hr>
							</div>


							<div class="col-12">
								<h3>Monitor Token </h3>
							</div>
							<div class="col-12">

								<input type="number" step="0.10" id="timeMonitor">
								<label for="timeMonitor">Timer Monitor(sec)</label>
							</div>
							<div class="col-12">
								<input class='insi' type="number" step="0.01" id="volumeMinMonitor">
								<input class='insi' type="number" step="0.01" id="volumeMax">
								<label>Net Volume Min-Max</label>
							</div>
							<div class="col-12">
								<input type="number" step="0.01" id="minVolumeMonitor">
								<label for="maxSuspiciousGain">Volume Min</label>
							</div>
							<div class="col-12">
								<input class='insi' type="number" step="0.10" id="minTrxNumMonitor">
								<input class='insi' type="number" step="1" id="maxTrxNumMonitor">
								<label>Trades Min-Max</label>
							</div>

							<div class="col-12 cool">
								<input type="checkbox" id="netVolumeUpBuy">
								<label for="netVolumeUpBuy">Buy Quick if > </label>

								<input type="number" step="0.1" id="quickBuyVolumeUp">
								<label for="quickBuyVolumeUp">Net Volume Min</label>

								<input type="number" step="1" id="quickBuyTrxNumb">
								<label for="quickBuyTrxNumb">Min Trx</label>

								<input type="number" step="1" id="quickBuyVolumeMin">
								<label for="quickBuyTrxNumb">Volume Min</label>
							</div>

							<div class="col-12 cool">
								<input type="checkbox" id="marketCapSolUpMode">
								<label for="marketCapSolUpMode">Buy Quick if [MarketCap] > </label>

								<input type="number" step="1" id="marketCapSolUpQuickBuy">
								<label for="marketCapSolUpQuickBuy">Market Cap Sol</label>
							</div>

							<div class="col-12 cool">
								<input type="checkbox" id="priceSolUpMode">
								<label for="priceSolUpMode">Buy Quick if [Price] > </label>

								<input type="number" value="0.00000004" step="0.0000000005" id="priceSolUpQuickBuy">
								<label for="priceSolUpModeQuickBuy">Price in SOL Min</label>

								<input type="number" value="0.00000004" step="0.0000000005" id="priceSolUpQuickBuyMax">
								<label for="priceSolUpModeQuickBuyMax">Price in SOL Max</label>

								<input type="number" step="1" id="priceSolUpModeQuickBuyVolumeMin">
								<label for="priceSolUpModeQuickBuyVolumeMin">Volume Min</label>

								<input type="number" step="1" id="priceSolUpModeQuickBuyVolumeNetMin">
								<label for="priceSolUpModeQuickBuyVolumeNetMin">VolumeNet Min</label>

								<input type="number" step="1" id="LiquidityRatechangeMin">
								<label for="LiquidityRatechangeMin">LiquidityRate changeMin</label>
							</div>
							<div class="col-12">

								<input type="checkbox" checked="false" id="SoundOnOff">
								<label for="SoundOnOff">Sound Notifyme</label>

							</div>


							<div class="col-12">
								<hr>
							</div>
							<div class="col-12">
								<h3>Buy Snipe Token</h3>
							</div>
							<div class="col-12">

								<input type="number" step="0.005" id="buyAmount">
								<label for="buyAmount">Buy Amount: </label>
							</div>
							<div class="col-12">

								<input type="number" step="1" id="sellOffPanic">
								<label for="sellOffPanic">SellPanic: %</label>
							</div>
							<div class="col-12">
								<input type="checkbox" id="demoversion" value="demoversion">
								<label for="demoversion">demo</label>
							</div>


							<div class="col-12">
								<hr>
							</div>
							<div class="col-12">
								<h3>Extra filtri Token</h3>
							</div>

							<div class="col-12">
								<input type="checkbox" id="website" value="Bike">
								<label for="website">haswebsite</label>
							</div>
							<div class="col-12">
								<input type="checkbox" id="websitecheck" value="websitecheck">
								<label for="websitecheck">haswebsite Contract check(buyQuick)</label>
							</div>
							<div class="col-12">
								<input type="checkbox" id="Description" value="Description">
								<label for="Description">hasDescription</label>
							</div>
							<div class="col-12">
								<input type="checkbox" id="TwitterOrTelegram" value="TwitterOrTelegram">
								<label for="TwitterOrTelegram">hasTwitterOrTelegram</label>
							</div>
							<div class="col-12">
								<input type="checkbox" id="TwitterCheck" value="TwitterCheck">
								<label for="TwitterCheck">hasTwitter Contract check(buyQuick)</label>
							</div>


							<div class="col-12">
								<hr>
							</div>
							<div class="col-12">
								<h3>Trailing</h3>
							</div>

							<div class="col-12">

								<input type="checkbox" id="enableTrailing">
								<label for="enableTrailing">Abilita Trailing</label>

								<input type="checkbox" id="adaptiveTrailingLcrRate">
								<label for="adaptiveTrailingLcrRate">Trailing Adattivo(LiqCR)</label>
							</div>
							<div class="col-12">
								<label for="trailingPercent">Trailing %(0–90)</label>
								<input type="number" step="0.1" id="trailingPercent">
							</div>

							<!-- Break -->
							<div class="col-12 yo">
								<select name="demo-category" id="save-category">
									<option value="">- SAve COnfig -</option>
									<option value="slot1">Slot 1</option>
									<option value="slot2">Slot 2</option>
									<option value="slot3">Slot 3</option>
									<option value="slot4">Slot 4</option>
								</select>
								<button type="button" onclick="saveConfig()">Save</button>
								<button type="button" onclick="loadConfig()">Load</button>
							</div>

							<div class="col-12">
								<ul class="actions">
									<li><input type="submit" value="SAVE" class="primary" /></li>
									<li><input type="button" onclick="loadOptions()" value="LOAD" /></li>

								</ul>
							</div>
						</div>
					</form>

				</section>

			</div>
		</div>

	</div>

	<!-- Scripts -->
	<script src="../public/assetsClient/js/jquery.min.js"></script>
	<script src="../public/assetsClient/js/browser.min.js"></script>
	<script src="../public/assetsClient/js/breakpoints.min.js"></script>
	<script src="../public/assetsClient/js/util.js"></script>
	<script src="../public/assetsClient/js/main.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="../public/scriptt.js"></script>


</body>

</html>