<!DOCTYPE HTML>
<html>

<head>
	<title>ScrockBot v.02</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../public/assetsClient/css/main.css" />
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="index.html" class="logo"><strong style="font-size:larger;">ScrockBot </strong><span
							style="font-size: small;"> SniperBot Solana</span> </a>
					<ul class="icons">
						<li><a href="#" class="icon brands fa-house"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
					</ul>
				</header>

				<!-- Banner
								<section id="banner">
									<div class="content">
										<header>
											<h1>Hi, I’m Editorial<br />
											by HTML5 UP</h1>
											<p>A free and fully responsive site template</p>
										</header>
										<p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.</p>
										<ul class="actions">
											<li><a href="#" class="button big">Learn More</a></li>
										</ul>
									</div>
									<span class="image object">
										<img src="images/pic10.jpg" alt="" />
									</span>
								</section> -->

				<!-- Section -->
				<section>
					<div class="table-wrapper">
						<h4>TokenMonitor</h4>
						<table>
							<thead>
								<tr>
									<th>Token</th>
									<th>Price</th>
									<th>Gain</th>
									<th>MarketCap USD</th>
									<th>Trx Num</th>
									<th>Time</th>
									<th>Transazioni</th>

									<th>Contract</th>
									<th>Pool</th>
									<th>info</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>BonkFun</td>
									<td>SOL: 0.000023</td>
									<td>10%</td>
									<td>$9233</td>
									<td>42 </td>
									<td>10:00am</td>
									<td>open</td>
									<td>pump </td>
									<td><button></td>
									<td>ok </td>
								</tr>
								<tr>
									<td>BonkFun</td>
									<td>SOL: 0.000023</td>
									<td>10%</td>
									<td>$9233</td>
									<td>42 </td>
									<td>10:00am</td>
									<td>open</td>
									<td>pump </td>
									<td><button></td>
									<td>ok </td>
								</tr>
								<tr>
									<td>BonkFun</td>
									<td>SOL: 0.000023</td>
									<td>10%</td>
									<td>$9233</td>
									<td>42 </td>
									<td>10:00am</td>
									<td>open</td>
									<td>pump </td>
									<td><button></td>
									<td>ok </td>
								</tr>

							</tbody>
							<tfoot>
								<tr>
									<td colspan="2"></td>
									<td>100.00</td>
								</tr>
							</tfoot>
						</table>
					</div>

					<h4>TokenLogger</h4>
					<div class="table-wrapper">
						<table class="alt">
							<thead>
								<tr>
									<th>Name</th>
									<th>Description</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>BonkFun</td>
									<td>SOL: 0.000023</td>
									<td>10%</td>
									<td>$9233</td>
									<td>42 </td>
									<td>10:00am</td>
									<td>open</td>
									<td>pump </td>
									<td><button></td>
									<td>ok </td>
								</tr>
								<tr>
									<td>BonkFun</td>
									<td>SOL: 0.000023</td>
									<td>10%</td>
									<td>$9233</td>
									<td>42 </td>
									<td>10:00am</td>
									<td>open</td>
									<td>pump </td>
									<td><button></td>
									<td>ok </td>
								</tr>
								<tr>
									<td>BonkFun</td>
									<td>SOL: 0.000023</td>
									<td>10%</td>
									<td>$9233</td>
									<td>42 </td>
									<td>10:00am</td>
									<td>open</td>
									<td>pump </td>
									<td><button></td>
									<td>ok </td>
								</tr>

							</tbody>
							<tfoot>
								<tr>
									<td colspan="2"></td>
									<td>100.00</td>
								</tr>
							</tfoot>
						</table>
					</div>


				</section>

				<!-- Section -->
				<section>
					<header class="major">
						<h2>Ipsum sed dolor</h2>
					</header>
					<div class="posts">
						<article>
							<a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
							<h3>Interdum aenean</h3>
							<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam
								facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>
						<article>
							<a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
							<h3>Nulla amet dolore</h3>
							<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam
								facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>

					</div>
				</section>

			</div>
		</div>

		<!-- Sidebar -->
		<div id="sidebar">
			<div class="inner">

				<!-- Search -->
				<section id="search" class="alt">
					<form method="post" action="#">
						<input type="text" name="query" id="query" placeholder="Search" />
					</form>
				</section>

				<!-- Menu -->
				<nav id="menu">
					<header class="major">
						<h2>Menu</h2>
					</header>
					<ul>
						<li><a href="index.html">Homepage</a></li>

						<li>
							<span class="opener">Submenu</span>
							<ul>
								<li><a href="#">Lorem Dolor</a></li>
								<li><a href="#">Ipsum Adipiscing</a></li>
								<li><a href="#">Tempus Magna</a></li>
								<li><a href="#">Feugiat Veroeros</a></li>
							</ul>
						</li>

					</ul>
				</nav>

				<!-- Section -->
				<section>
					<header class="major">
						<h2>Config</h2>
					</header>

					<form method="post" onsubmit="return saveOptions(event)">
						<div class="row gtr-uniform">

							<div class="col-12">
								<h3>Filtri Token</h3>
							</div>

							<div class="col-12">
								<input type="number" step="0.10" value="" id="liquidityMin" placeholder="MinLiquidity">
								<label>Min Liquidity (SOL)</label>
							</div>
							<div class="col-12">
								<input type="number" step="0.10" id="liquidityMax">
								<label for="liquidityMax">Max Liquidity (SOL)</label>
							</div>
							<div class="col-12">
								<input type="number" step="0.10" id="devShare">
								<label for="devShare">Dev Share max buy (%)</label>
							</div>
							<div class="col-12">
								<input type="number" step="0.10" id="marketcapMin">
								<label for="marketcapMin">Min Market Cap (SOL)</label>
							</div>
							<div class="col-12">
								<input type="number" step="0.5" id="marketcapMax">
								<label for="marketcapMax">Max Market Cap (SOL)</label>
							</div>

							<div class="col-12">

								<input type="checkbox" id="enablerugpullxyz">
								<label for="enablerugpullxyz">RugPull.xyz check</label>

							</div>
							<div class="col-12">
								<h3>Sell</h3>
							</div>
							<div class="col-12">
								<input type="number" step="0.01" id="quickSellMultiplier">
								<label for="quickSellMultiplier">Quick Sell × Multiplier</label>
							</div>
							<div class="col-12">
								<input type="number" step="1" id="quickSellMinTrades">
								<label for="quickSellMinTrades">Quick Sell min trades</label>
							</div>
							<div class="col-12">
								<input type="number" step="1" id="rugpullMaxTrades">
								<label for="rugpullMaxTrades">Rugpull max trades</label>
							</div>
							<div class="col-12">
								<input type="number" step="0.01" id="rugpullMinGainMultiplier">
								<label for="rugpullMinGainMultiplier">Rugpull min gain × Multiplier</label>
							</div>
							<div class="col-12">
								<hr>
							</div>


							<div class="col-12">
								<h3>Monitor Token </h3>
							</div>
							<div class="col-12">
								
								<input type="number" step="0.10" id="timeMonitor">
								<label for="timeMonitor">Timer Monitor(sec)</label>
							</div>
							<div class="col-12">
								<input type="number" step="0.01" id="volumeMinMonitor">
								<label for="volumeMinMonitor">Net Volume Min (SOL)</label>
							</div>
							<div class="col-12">
								<input type="number" step="1" id="maxTrxNumMonitor">
								<label for="maxTrxNumMonitor">Max Trades</label>
							</div>
							<div class="col-12">
								
								<input type="number" step="0.10" id="minTrxNumMonitor">
								<label for="minTrxNumMonitor">Min Trades</label>
							</div>
							<div class="col-12">
								
								<input type="number" step="0.01" id="maxSuspiciousGain">
								<label for="maxSuspiciousGain">Max Suspicious Gain (%)</label>
							</div>
							<div class="col-12">
								<input type="checkbox" id="netVolumeUpBuy" value="netVolumeUpBuy">
								<label for="netVolumeUpBuy">Buy if > NetVolumeMin(X2)[trx > 30]</label>
							</div>


							<div class="col-12">
								<hr>
							</div>
							<div class="col-12">
								<h3>Buy Snipe Token</h3>
							</div>
							<div class="col-12">
								
								<input type="number" step="0.005" id="buyAmount">
								<label for="buyAmount">Buy Amount: </label>
							</div>
							<div class="col-12">
								
								<input type="number" step="1" id="sellOffPanic">
								<label for="sellOffPanic">SellPanic: %</label>
							</div>
							<div class="col-12">
								<input type="checkbox" id="demoversion" value="demoversion">
								<label for="demoversion">demo</label>
							</div>


							<div class="col-12">
								<hr>
							</div>
							<div class="col-12">
								<h3>Extra filtri Token</h3>
							</div>
							
							<div class="col-12">
								<input type="checkbox" id="website" value="Bike">
								<label for="website">haswebsite</label>
							</div>
							<div class="col-12">
								<input type="checkbox" id="websitecheck" value="websitecheck">
								<label for="websitecheck">haswebsite check</label>
							</div>
							<div class="col-12">
								<input type="checkbox" id="Description" value="Description">
								<label for="Description">hasDescription</label>
							</div>
							<div class="col-12">
								<input type="checkbox" id="TwitterOrTelegram" value="TwitterOrTelegram">
								<label for="TwitterOrTelegram">hasTwitterOrTelegram</label>
							</div>
							<div class="col-12">
								<input type="checkbox" id="TwitterCheck" value="TwitterCheck">
								<label for="TwitterCheck">hasTwitter check</label>
							</div>


							<div class="col-12">
								<hr>
							</div>
							<div class="col-12">
								<h3>Trailing</h3>
							</div>

							<div class="col-12">
								
								<input type="checkbox" id="enableTrailing">
								<label for="enableTrailing">Abilita Trailing</label>
							</div>
							<div class="col-12">
								<label>Trailing % (0.01–0.90)</label>
								<input type="number" step="0.01" id="trailingPercent">
							</div>

							<!-- Break -->
							<div class="col-12">
								<select name="demo-category" id="demo-category">
									<option value="">- Category -</option>
									<option value="1">Manufacturing</option>
									<option value="1">Shipping</option>
									<option value="1">Administration</option>
									<option value="1">Human Resources</option>
								</select>
							</div>
							
							<div class="col-12">
								<ul class="actions">
									<li><input type="submit" value="SAVE" class="primary" /></li>
									<li><input type="submit" onclick="loadOptions()" value="LOAD" /></li>
									
								</ul>
							</div>
						</div>
					</form>

				</section>

			</div>
		</div>

	</div>

	<!-- Scripts -->
	<script src="../public/assetsClient/js/jquery.min.js"></script>
	<script src="../public/assetsClient/js/browser.min.js"></script>
	<script src="../public/assetsClient/js/breakpoints.min.js"></script>
	<script src="../public/assetsClient/js/util.js"></script>
	<script src="../public/assetsClient/js/main.js"></script>
	<script src="../public/scriptt.js"></script>
	 <script src="/socket.io/socket.io.js"></script>
	 <script>
		const socket = io();

		socket.on('connect', () => {
			console.log('🔌 Connesso al server con socket.io, ID:', socket.id);
		});

		socket.on('message', (data) => {
			console.log('📩 Messaggio dal server:', data);
		});

		socket.on('disconnect', () => {
			console.log('🔌 Disconnesso dal server');
		});
	</script>

</body>

</html>